# Feature Engineering

Description: Engineering features to further refine our data, and ready it for Preprocessing.

In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('../data/final_dataframe.csv', index_col=0, parse_dates=True)

In [9]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,DewPoint,WetBulb,Cool,CodeSum,PrecipTotal,StnPressure,Date,Latitude,Longitude,Month
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.954690,-87.800991,5
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.954690,-87.800991,5
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.994991,-87.769279,5
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.974089,-87.824812,5
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.974089,-87.824812,5

**Adding Rolling & Expanded Means for Features -w- Shifted Dates**

In [10]:
df['Day_length_exp'] = df['Day_length'].expanding().mean()

In [12]:
df['Tavg_shift'] = df['Tavg'].rolling(1).mean().shift(7)

In [13]:
df['Heat_exp'] = df['Heat'].expanding().mean()

In [14]:
df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(7)

In [15]:
df['Tmax_shift'] = df['Tmax'].rolling(1).mean().shift(7)

In [16]:
df['Tmin_shift'] = df['Tmin'].rolling(1).mean().shift(10)

In [17]:
df['Depart_shift'] = df['Depart'].rolling(1).mean().shift(7)

In [18]:
df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(28)

In [19]:
df['ResultDir_exp'] = df['ResultDir'].expanding().mean()

In [20]:
df['PrecipTotal_exp'] = df['PrecipTotal'].expanding().mean()

In [21]:
df['WetBulb_shift'] = df['WetBulb'].rolling(100).mean().shift(7)

In [22]:
df['DewPoint_shift'] = df['DewPoint'].rolling(9).mean().shift(74)

**Checking Resultant DataFrame**

In [23]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Heat_exp,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_exp,PrecipTotal_exp,WetBulb_shift,DewPoint_shift
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,NaN,NaN,NaN,NaN,NaN,17.0,0.0,NaN,NaN
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,NaN,NaN,NaN,NaN,NaN,17.0,0.0,NaN,NaN
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,NaN,NaN,NaN,NaN,NaN,17.0,0.0,NaN,NaN
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,NaN,NaN,NaN,NaN,NaN,17.0,0.0,NaN,NaN
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,NaN,NaN,NaN,NaN,NaN,17.0,0.0,NaN,NaN

In [25]:
df.shape

(8643, 37)

In [26]:
df.dropna(inplace=True)

In [27]:
df.shape

(8537, 37)

In [28]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Heat_exp,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_exp,PrecipTotal_exp,WetBulb_shift,DewPoint_shift
106,T033,CULEX PIPIENS/RESTUANS,2,0,54780,91.5,71.5,81.5,6.7,21.5,...,4.845794,16.5,91.5,71.5,10.0,5.7,10.471963,0.212383,57.870,53.45788
107,T033,CULEX RESTUANS,3,0,54780,91.5,71.5,81.5,6.7,21.5,...,4.800926,16.5,91.5,71.5,10.0,5.7,10.574074,0.211157,57.935,53.45788
108,T034,CULEX RESTUANS,1,0,54780,91.5,71.5,81.5,6.7,21.5,...,4.756881,16.5,91.5,71.5,10.0,5.7,10.674312,0.209954,58.000,53.45788
109,T037,CULEX RESTUANS,1,0,54780,91.5,71.5,81.5,6.7,21.5,...,4.713636,16.5,91.5,71.5,10.0,5.7,10.772727,0.208773,58.065,53.45788
110,T040,CULEX PIPIENS/RESTUANS,5,0,54780,91.5,71.5,81.5,6.7,21.5,...,4.671171,16.5,91.5,71.5,10.0,5.7,10.869369,0.207613,58.130,53.45788

In [29]:
df.to_csv('../data/final_dataframe_features.csv')