In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/weather.csv', parse_dates = ['Date'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null datetime64[ns]
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 506.1+ KB

In [6]:
data.describe()

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [7]:
data

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
12,1,2007-05-07,83,47,65,10,41,54,0,0,...,RA,0,M,0.0,T,29.38,30.12,8.6,18,10.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
14,1,2007-05-08,82,54,68,12,58,62,0,3,...,BR,0,M,0.0,0.00,29.29,30.03,2.7,11,5.8
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
16,1,2007-05-09,77,61,69,13,59,63,0,4,...,BR HZ,0,M,0.0,0.13,29.21,29.94,3.9,9,6.2
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
18,1,2007-05-10,84,56,70,14,52,60,0,5,...,BR,0,M,0.0,0.00,29.20,29.92,0.7,17,4.1
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
20,1,2007-05-11,70,51,61,4,42,51,4,0,...,,0,M,0.0,0.00,29.33,30.04,11.3,3,12.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
22,1,2007-05-12,64,46,55,-2,36,46,10,0,...,,0,M,0.0,0.00,29.49,30.20,12.4,3,12.9
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
24,1,2007-05-13,69,43,56,-2,33,46,9,0,...,,0,M,0.0,0.00,29.49,30.24,6.6,14,8.1
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
26,1,2007-05-14,90,56,73,15,47,59,0,8,...,,0,M,0.0,0.00,29.23,29.97,16.9,21,17.3
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
28,1,2007-05-15,80,57,69,11,56,61,0,4,...,RA BR,0,M,0.0,0.38,29.13,29.84,8.1,27,12.3
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,1,2014-10-17,62,48,55,3,46,50,10,0,...,,0,M,0.0,T,28.99,29.69,11.1,29,13.2
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2916,1,2014-10-18,50,36,43,-8,38,42,22,0,...,RA DZ,0,M,0.0,0.01,29.39,30.08,8.2,34,9.2
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,...,,0,M,0.0,0.00,29.31,30.07,7.8,21,8.2
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2920,1,2014-10-20,65,46,56,6,44,49,9,0,...,,0,M,0.0,0.01,29.17,29.90,4.7,32,9.3
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,...,,0,M,0.0,0.00,29.46,30.16,10.8,1,11.4
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,...,,0,M,0.0,0.00,29.56,30.30,2.9,8,4.8
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,...,BR,0,M,0.0,0.00,29.39,30.15,7.5,19,7.8
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2928,1,2014-10-24,67,52,60,11,46,52,5,0,...,,0,M,0.0,0.00,29.25,30.00,4.4,22,5.8
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2930,1,2014-10-25,72,49,61,13,40,51,4,0,...,BR,0,M,0.0,0.00,29.21,29.93,10.4,29,10.9
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2932,1,2014-10-26,64,42,53,5,32,44,12,0,...,,0,M,0.0,0.00,29.21,29.95,0.9,5,5.8
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,,0,M,0.0,0.00,28.92,29.66,12.0,19,12.9
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,,0,M,0.0,T,29.15,29.85,14.8,26,15.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,,0,M,0.0,0.00,29.36,30.06,9.5,29,9.9
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,RA SN,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [8]:
data.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [9]:
import numpy as np

In [10]:
int(np.ceil(2.5))

3

In [11]:
round(2.5)

2

In [12]:
data['Tavg'] = data.apply(lambda x: int(np.ceil((x['Tmax'] + x['Tmin'])/2)) if x['Tavg'] == 'M' else x['Tavg'],1)

In [13]:
data[data['Tavg'] == 'M']

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [14]:
data['Depart'] = data.apply(lambda x: 0 if x['Depart'] == 'M' else x['Depart'],1)

In [15]:
data[data['Depart']=='M']

Empty DataFrame
Columns: [Station, Date, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Heat, Cool, Sunrise, Sunset, CodeSum, Depth, Water1, SnowFall, PrecipTotal, StnPressure, SeaLevel, ResultSpeed, ResultDir, AvgSpeed]
Index: []

[0 rows x 22 columns]

In [16]:
data['Tavg']=pd.to_numeric(data['Tavg'])

In [17]:
data['Depart']=pd.to_numeric(data['Depart'])

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null datetime64[ns]
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null int64
Depart         2944 non-null int64
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: datetime64[ns](1), float64(1), int64(7), object(13)
memory usage: 506.1+ KB

In [19]:
data['WetBulb'] = data.apply(lambda x: 0 if x['WetBulb'] == 'M' else x['WetBulb'],1)

In [20]:
data['WetBulb'] = pd.to_numeric(data['WetBulb'])

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null datetime64[ns]
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null int64
Depart         2944 non-null int64
DewPoint       2944 non-null int64
WetBulb        2944 non-null int64
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: datetime64[ns](1), float64(1), int64(8), object(12)
memory usage: 506.1+ KB

In [22]:
data['Heat'].value_counts()

0     1870
4       88
1       86
2       81
8       67
3       66
5       61
15      57
12      49
7       49
10      48
11      48
9       46
13      46
6       45
14      36
16      29
20      28
18      24
19      24
21      19
17      17
23      15
22      12
M       11
24       7
25       5
26       4
27       2
28       2
29       2
Name: Heat, dtype: int64

In [23]:
data[data['Cool'] == 'M']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,65,0,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,66,0,68,71,M,M,...,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,54,0,41,47,M,M,...,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,86,0,70,74,M,M,...,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,78,0,51,61,M,M,...,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,57,0,39,45,M,M,...,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,72,0,48,54,M,M,...,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,69,0,48,54,M,M,...,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,62,0,44,50,M,M,...,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,64,0,43,47,M,M,...,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,68,0,68,71,M,M,...,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [24]:
data.iloc[5:9]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
5,2,2007-05-03,67,48,58,0,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,65,0,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0

In [25]:
data.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [26]:
data['Heat'] = data.apply(lambda x: 0 if x['Heat'] == 'M' else x['Heat'],1)

In [27]:
data['Cool'] = data.apply(lambda x: 0 if x['Cool'] == 'M' else x['Cool'],1)

In [28]:
data['Sunrise'] = data.apply(lambda x: 0 if x['Sunrise'] == '-' else x['Sunrise'],1)

In [29]:
data['Sunset'] = data.apply(lambda x: 0 if x['Sunset'] == '-' else x['Sunset'],1)

In [30]:
data['Heat'] = pd.to_numeric(data['Heat'])

In [31]:
data['Cool'] = pd.to_numeric(data['Cool'])

In [32]:
data['Sunrise'] = pd.to_numeric(data['Sunrise'])

In [33]:
data['Sunset'] = pd.to_numeric(data['Sunset'])

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null datetime64[ns]
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null int64
Depart         2944 non-null int64
DewPoint       2944 non-null int64
WetBulb        2944 non-null int64
Heat           2944 non-null int64
Cool           2944 non-null int64
Sunrise        2944 non-null int64
Sunset         2944 non-null int64
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: datetime64[ns](1), float64(1), int64(12), object(8)
memory usage: 506.1+ KB

In [35]:
data['Depth'] = data.apply(lambda x: 0 if x['Depth'] == 'M' else x['Depth'],1)

In [36]:
data['Depth'] = pd.to_numeric(data['Depth'])

In [37]:
data.drop('Water1', axis=1, inplace=True)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 21 columns):
Station        2944 non-null int64
Date           2944 non-null datetime64[ns]
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null int64
Depart         2944 non-null int64
DewPoint       2944 non-null int64
WetBulb        2944 non-null int64
Heat           2944 non-null int64
Cool           2944 non-null int64
Sunrise        2944 non-null int64
Sunset         2944 non-null int64
CodeSum        2944 non-null object
Depth          2944 non-null int64
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: datetime64[ns](1), float64(1), int64(13), object(6)
memory usage: 483.1+ KB